name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [ '16.x', '18.x' ]
        eslint: [ 7, 8 ]
    name: Node ${{ matrix.node }} with ESLint ${{ matrix.eslint }}
    steps:
    - uses: actions/checkout@v2
    - run: |
        git remote set-branches --add origin main
        git fetch
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: Install Dependencies
      run: |
        npm ci
        npm install --no-save eslint@${{ matrix.eslint }}
      env:
        NODE_ENV: development
    - name: Unit Tests
      run: npm run test:unit
      env:
        NODE_ENV: production
    - name: Lockfile Lint Test
      run: npm run test:lockfile
      env:
        NODE_ENV: production
    - name: Lint
      run: npm run test:lint
      env:
        NODE_ENV: production
